@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

html,
body {
  height: 100%;
}

body {
  font-family: 'Titillium Web', sans-serif;
  min-height: 100%;
  color: #FFF;
  background: #12344d;
}

#outer {
  height: 100%;
  width: 100%;
  display: table;
}

#wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

#formLogin {
  width: 350px;
  margin: 0px auto 0;
}

#formLogin input {
  background-color: rgba(0, 0, 0, 0.15);
  color: #5bc0de;
}

.input-group-addon {
  background-color: rgba(0, 0, 0, 0.15);
  color: #FFF;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

#form_status {
  margin-top: 1em;
  font-size: 1.2em;
}